@model IEnumerable<FireWeb.Models.LoginModel>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<div style="display:inline-block;width:50%;margin-bottom:10px">
    @using (Html.BeginForm("Post", "Home/List", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <select name="column"> <option value="id">ID</option><option value="name">ユーザー名</option><option value="mail">メールアドレス</option></select>
        <input class="form-control text-box single-line" id="name" name="keyword" type="text" value="@Session["Searchword"]" style="display:inline-block">
        <input type="submit" value="Search" class="btn btn-default" style="display:inline-block">
        <input type="radio" id="andSearch" value="AND" name="searchType" checked><label for="andSearch">AND</label>
        <input type="radio" id="orSearch" value="OR" name="searchType"><label for="orSearch">OR</label>

    }
    @using (Html.BeginForm("Post", "Home/Create", FormMethod.Post))
    {
        <input type="submit" value="Create" class="btn btn-default" onClick="window.open('/Home/Create')" style="display:inline-block;margin-left:30px;">
    }
    @using (Html.BeginForm("Post", "Home/CsvExport", FormMethod.Post))
    {
        <input type="submit" value="CsvExport" class="btn btn-default" style="display:inline-block;margin-left:30px;">
    }


    </div>
<table class="table">
    <tr>
        <th>
            パスワード
        </th>
        <th>
            ユーザー名
        </th>
        <th>
            メールアドレス
        </th>
        <th>
            備考
        </th>
        <th></th>
    </tr>

@foreach (var item in 
    Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>

<div>
        <input type="submit" value="先頭" class="btn btn-default" onclick="location.href='/Home/List/@ViewBag.firstPage'" style="display:inline-block;margin-left:30px;">
        <input type="submit" value="前へ" class="btn btn-default" onclick="location.href='/Home/List/@ViewBag.backPage'" style="display:inline-block;margin-left:30px;">
        <input type="submit" value="次へ" class="btn btn-default" onclick="location.href='/Home/List/@ViewBag.nextPage'" style="display:inline-block;margin-left:30px;">
        <input type="submit" value="最終" class="btn btn-default" onclick="location.href='/Home/List/@ViewBag.endPage'" style="display:inline-block;margin-left:30px;">
    </div>
