@model FireWeb.Models.ItemModel


<div class="modal_wrap">
    <input id="trigger" type="checkbox" style="display:none">
    <div class="modal_overlay">
        <label for="trigger" class="modal_trigger"></label>
        <div class="modal_content">
            <div class="modal-body">
                <form id="bid" action="/Auction/Did" enctype="multipart/form-data" method="post">
                    <div class="col-md-8 col-md-offset-1">
                        <h1 style="font-weight:600">入札設定</h1>
                        <br>
                        <h3 style="font-weight:600">現在価格</h3>
                        <h3>@Model.NowPrice<span style="font-size:20px;margin:60px 0 0 10px">円 (税・送料込み)</span></h3>
                        <h3 style="font-weight:600">即決価格</h3>
                        <h3>@Model.DecidePrice<span style="font-size:20px;margin:60px 0 0 10px">円 (税・送料込み)</span></h3>
                        <br>
                        <h3 style="font-weight:600">入札金額設定</h3>
                        <div style="display:inline-flex;height:100px">
                            <input class="form-control text-box single-line" data-val="true" data-val-number="入札金額を指定してください。" id="bidPrice" name="bidPrice" type="number" value="@Model.NowPrice" style="width:200px;font-size:30px;margin:20px 0 50px 50px;text-align:right;text"><span style="font-size:20px;margin:30px 0 0 10px">円 (税・送料込み)</span>
                        </div>
                    </div>
                    <div class="square_btn" style="display:inline-flex">
                        <button type="submit" value="itemlist" class="cp_btn" style="width:300px;margin:50px 0 80px 0px"><font size="5" color="#fff">上記内容で入札</font></button>
                        <label for="trigger" class="close_button" style="text-align:center;text-anchor:middle"><font size="5" color="#fff">キャンセル</font></label>
                    </div>
                    <input hidden type="hidden" name="ItemID" value="@Model.Id">
                    <input hidden type="hidden" name="NowPrice" value="@Model.NowPrice">
                    <input hidden type="hidden" name="DecidePrice" value="@Model.DecidePrice">
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col-md-10 col-md-offset-1" style="background-color:#fff;margin-top:50px;">
        <div class="row" style="height:auto;margin:20px auto 20px auto">
            <h3 style="font-weight:600;font-size:x-large">@Model.Title</h3>
        </div>
        <div class="row" style="">
            <div class="col-md-7">
                <div id="carousel-img" class="carousel slide" data-ride="carousel" data-interval="250000" style="width:500px;margin-left:20px">

                    <!-- 2.表示中のスライドを表すリスト -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-img" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-img" data-slide-to="1"></li>
                        @*<li data-target="#carousel-example" data-slide-to="2"></li>*@
                    </ol>

                    <!-- 3.表示するスライドのコンテンツ -->
                    <div class="carousel-inner" role="listbox">
                        @{
                            var firstImage = true;
                            foreach (String i in Model.PicPath)
                            {
                                if (firstImage == true)
                                {
                                    <div class="item active">
                                        <img src="..\@i" style="margin:0;height:500px;width:500px;">
                                    </div>
                                    firstImage = false;
                                }
                                else
                                {
                                    <div class="item">
                                        <img src="..\@i" style="margin:0;height:500px;width:500px;">
                                    </div>
                                }

                            }
                        }

                    </div>
                    <!-- 4.左右の矢印ボタン -->
                    <a class="left carousel-control" href="#carousel-img" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-img" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <table class="table table-bordered" style="height:300px;font-size:20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    <tr>
                        <th>出品者</th>
                        <td>@Model.Owner</td>
                    </tr>
                    <tr>
                        <th>カテゴリー</th>
                        <td>@Model.Category</td>
                    </tr>
                    <tr>
                        <th>状態</th>
                        <td>@Model.Value</td>
                    </tr>
                    <tr>
                        <th>開始価格</th>
                        <td>@Model.StartPrice</td>
                    </tr>
                    <tr>
                        <th>即決価格</th>
                        <td>@Model.DecidePrice</td>
                    </tr>
                    <tr>
                        <th>開始日時</th>
                        <td>@Model.StartTime</td>
                    </tr>
                    <tr>
                        <th>終了日時</th>
                        <td>@Model.EndTime</td>
                    </tr>
                </table>
                <table class="table table-bordered" style="height:165px;font-size:20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                    <tr style="height:30px">
                        <th>入札回数</th>
                        <th>残り時間</th>
                    </tr>
                    <tr style="font-size:40px;font-weight:600">
                        <td style="vertical-align:middle">@ViewBag.Count</td>
                        <td style="vertical-align:middle"><FORM name="tbox1"><INPUT name="dspday" type="text" style="border:0px;font-size:38px;width:200px;text-align:center"></FORM></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row" style="text-align: center;vertical-align: middle;">
            <div class="now_price" style="text-align: center;vertical-align: middle;margin-top:50px">
                <span style="text-align: center;vertical-align: middle;font-size:30px;">【現在価格】</span>
                <span style="text-align: center;vertical-align: middle;font-size:60px;font-weight:600">@Model.NowPrice</span><span style="vertical-align:bottom" ;>(税・送料込み)</span>
            </div>
        </div>
        <div class="row" style="height:auto">
            <div class="col-md-10 col-md-offset-1">
                <div class="square_btn">
                    <label for="trigger" class="open_button" style="width:600px;margin:50px 0 80px 80px;"><font size="6" color="#fff">入札</font></label>
                </div>
            </div>
        </div>
        <div class="row" style="height:auto">
            <div class="col-md-10 col-md-offset-1" style="margin-bottom:70px">
                <p style="font-size:20px">
                    @Model.Detail
                </p>
            </div>
        </div>
    </div>
</div>






@*<script>
        function countdown(y, m, d, h, m, s) {
            year = y
            mon = m - 1
            day = d
            xday = new Date(year, mon, day, h, m, s);
            nowday = new Date();
            passtime = xday.getTime() - nowday.getTime();
            passtime0 = passtime

            cnt_day = Math.floor(passtime / (1000 * 60 * 60 * 24));
            passtime = passtime - (cnt_day * (1000 * 60 * 60 * 24));

            cnt_hour = Math.floor(passtime / (1000 * 60 * 60));
            cnt0_hour = Math.floor(passtime0 / (1000 * 60 * 60));
            passtime = passtime - (cnt_hour * (1000 * 60 * 60));

            cnt_min = Math.floor(passtime / (1000 * 60));
            passtime = passtime - (cnt_min * (1000 * 60));

            cnt_sec = Math.floor(passtime / 1000);
            passtime = passtime - (cnt_sec * (1000));

            if (cnt_min < 10) { cnt_min = '0' + cnt_min; }
            if (cnt_sec < 10) { cnt_sec = '0' + cnt_sec; }

            if ((xday - nowday) >
                0) {
                if (cnt_day == 0) {
                    x = cnt0_hour + " : " + cnt_min + " : " + cnt_sec
                } else {
                    x = cnt_day + " Days "
                }
            }
            else {
                x = "終了致しました。"
            }
            return x
        }
    </script>
    <script type="text/javascript">
        window.onload = showCountdown();
        function showCountdown() {
            document.tbox1.dspday.value = countdown(@Model.EndTime.Year , @Model.EndTime.Month , @Model.EndTime.Day, @Model.EndTime.Hour ,@Model.EndTime.Minute ,@Model.EndTime.Second);
            setInterval("showCountdown()", 1000);
        }
    </script>*@

