@model IEnumerable<FireWeb.Models.ItemModel>

<div class="container body-content">
    <div class="container">
        <div class="col-md-10 col-md-offset-1" style="background-color:#fff;margin-top:50px;">
            <div class="row" style="height:auto;margin:20px auto 20px auto">
                <h3 style="font-weight:600;font-size:x-large">@ViewBag.Title</h3>
            </div>
            <div class="row" style="">
                <div class="col-md-7">
                    <div id="carousel-img" class="carousel slide" data-ride="carousel" data-interval="250000">

                        <!-- 2.表示中のスライドを表すリスト -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-img" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-img" data-slide-to="1"></li>
                            @*<li data-target="#carousel-example" data-slide-to="2"></li>*@
                        </ol>

                        <!-- 3.表示するスライドのコンテンツ -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="https://pbs.twimg.com/profile_images/378800000220029324/fe66faeca20115da8566e51d83447ead_400x400.jpeg" style="margin:0;height:500px;width:550px;">
                            </div>
                            <div class="item">
                                <img src="https://pbs.twimg.com/profile_images/3406268893/54b7e1f981b7df7c817af48d1b96ad5e_400x400.jpeg" style="margin:0;height:500px;width:550px;">
                            </div>
                        </div>

                        <!-- 4.左右の矢印ボタン -->
                        <a class="left carousel-control" href="#carousel-img" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-img" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-5">
                    <table class="table table-bordered" style="height:300px;font-size:20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                        <tr>
                            <th>出品者</th>
                            <td>@ViewBag.Owner</td>
                        </tr>
                        <tr>
                            <th>カテゴリー</th>
                            <td>@ViewBag.Category</td>
                        </tr>
                        <tr>
                            <th>状態</th>
                            <td>@ViewBag.Value</td>
                        </tr>
                        <tr>
                            <th>開始価格</th>
                            <td>@ViewBag.StartPrice 円</td>
                        </tr>
                        <tr>
                            <th>即決価格</th>
                            <td>@ViewBag.DecidePrice 円</td>
                        </tr>
                        <tr>
                            <th>開始日時</th>
                            <td>@ViewBag.StartTime</td>
                        </tr>
                        <tr>
                            <th>終了日時</th>
                            <td>@ViewBag.EndTime</td>
                        </tr>
                    </table>
                    <table class="table table-bordered" style="height:165px;font-size:20px;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">
                        <tr style="height:30px">
                            <th>入札回数</th>
                            <th>残り時間</th>
                        </tr>
                        <tr style="font-size:40px;font-weight:600">
                            <td style="vertical-align:middle">0</td>
                            <td style="vertical-align:middle">@ViewBag.TimeLimit.Days days @ViewBag.TimeLimit.ToString(@"hh\:mm\:ss")</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row" style="text-align: center;vertical-align: middle;">
                <div class="now_price" style="text-align: center;vertical-align: middle;margin-top:50px">
                    <span style="text-align: center;vertical-align: middle;font-size:30px;">【現在価格】</span>
                    <span style="text-align: center;vertical-align: middle;font-size:60px;font-weight:600">@ViewBag.StartPrice 円</span><span style="vertical-align:bottom" ;>(税・送料込み)</span>
                </div>
            </div>
            <div class="row" style="height:auto">
                <div class="col-md-10 col-md-offset-1">
                    <div class="square_btn">
                        <button type="submit" value="preview" class="cp_btn" style="margin:50px 0 80px 80px;background-color:#808080" disabled><font size="5" color="#fff">入札</font></button>
                    </div>
                </div>
            </div>

            <div class="row" style="height:auto">
                <div class="col-md-10 col-md-offset-1" style="margin-bottom:70px">
                    <p style="font-size:20px">
                        @ViewBag.Detail
                    </p>
                </div>
            </div>

            <div class="row" style="height:auto">
                <div class="col-md-10 col-md-offset-1">
                    <div class="square_btn">
                        <button type="submit" value="preview" class="cp_btn" style="margin:50px 0 80px 80px"><font size="5" color="#fff">出品</font></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
